.venv/
__pycache__/
*.pyc
uploads/*
!uploads/.gitkeep
.DS_Store
.pyre/
.pyre_configuration
pyrightconfig.json
/brain/
/browser_recordings/
/context_state/
/conversations/
/html_artifacts/
/implicit/
/knowledge/
/playground/
/prompting/
venv/
public/pages/*
!public/pages/.gitkeep
